/**
* CSS File - Administration Area Only
*/

#admin_nav {
	background: #4184e6;
	font-size: 1.4em;
	font-weight: bold;
	margin: 20px 0 10px;
	padding: 15px 0 0 15px;
}

#admin_nav li {
	display: inline;
}

#admin_nav a {
	color: white;
	display: block;
	float: left;
	padding: 10px;
}

#admin_nav a:hover {
	text-decoration: underline;
}

#admin_nav li.active a {
	background: white;
	color: #444;
}

/* Tables */
table {
	border-left: 1px solid #b7e0ff;	
	border-top: 1px solid #b7e0ff;
	font-size: 1.2em;
	line-height: 1.5em;
	width: 100%;
}

td, th {
	border-bottom: 1px solid #b7e0ff;	
	border-right: 1px solid #b7e0ff;	
	padding: 7px;
	text-align: left;
}

th {
	background: #d5edff;
	color: #328ca2;
	/* inner shadow */
	-webkit-box-shadow: inset rgba(255, 255, 255, 0.4) 0px 1px 0px;
	-moz-box-shadow: inset rgba(255, 255, 255, 0.4) 0px 1px 0px;
	box-shadow: inset rgba(255, 255, 255, 0.4) 0px 1px 0px;
}

/* Pagination (Admin) */
#pagination_admin {
	margin-top: 20px;
}

#pagination_admin li {
	display: block;
	float: left;
	font-size: 1.2em;
	line-height: 1em;
}

#pagination_admin a, #pagination_admin strong {
	border: 1px solid #328CA2;
	display: block;
	margin: 0 5px 0 0;
	padding: 5px;
}

#pagination_admin strong {
	border-color: #333;
}