/* 
html5doctor.com Reset Stylesheet
v1.4.1 
2010-03-01
Author: Richard Clark - http://richclarkdesign.com
*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; }
body { line-height:1 }
:focus { outline: 1 }
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display:block }
nav ul { list-style:none }
blockquote, q { quotes:none }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none }
a { margin:0; padding:0; border:0; font-size:100%; vertical-align:baseline; background:transparent }
ins { background-color:#ff9; color:#000; text-decoration:none }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold }
del { text-decoration: line-through }
abbr[title], dfn[title] { border-bottom:1px dotted #000; cursor:help; }
table { border-collapse:collapse; border-spacing:0 }
hr { display:block; height:1px; border:0; border-top:1px solid #cccccc; margin:1em 0; padding:0 }
input, select { vertical-align:middle }
/* End Reset */

/* Colors used */
/**
	default blue		: #3076dc
	regular text		: #333
	links			: #328ca2
*/

/*-----------------------------------*/
/*-------LAYOUT AND TYPOGRAPHY-------*/
/*-----------------------------------*/

/* DEFAULT STYLES */
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}

p {
	color: #444;
	font-size: 1.4em;
	line-height: 1.5em;
	margin-bottom: 1em;
}

a:link, a:visited {
	color: #328ca2;
	outline: none;
	text-decoration: none;
	/* transition */
	-webkit-transition: color 0.1s linear;
	-moz-transition: color 0.1s linear;
	-o-transition: color 0.1s linear;
	transition: color 0.1s linear;
}

a:hover, a:active {
	color: #333;
}

input:focus {
	outline: none; /* get rid of Chrome's orange glow */
}

.clear {
	clear: both;
	visibility: hidden;
}

ul {
	list-style: none;
}
/* clearfix for modern browsers */
.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	line-height: 0;
	visibility: hidden;
}

/* notification colors from blueprint css framework */
.error,
.notice, 
.success    { display: none; padding: .8em; margin: 1em 0; border: 2px solid #ddd; }

.error      { background: #FBE3E4; color: #8a1f11; border-color: #FBC2C4; }
.notice     { background: #FFF6BF; color: #514721; border-color: #FFD324; }
.success    { background: #E6EFC2; color: #264409; border-color: #C6D880; }
.error a    { color: #8a1f11; }
.notice a   { color: #514721; }
.success a  { color: #264409; }

.error:hover { background: #fcf0f1; border-color: #fed2d4; }
.notice:hover { background: #fef7ce; border-color: #fede60; }
.success:hover { background: #f3fcd0; border-color: #d7ea8e; }

.no-js .error,
.no-js .notice,
.no-js .success { display: block; }

.basic_button, a.basic_button {
	background: #42abc5;
	border: 1px solid #328ca2;
	color: white;
	display: block;
	font-family: Arial;
	font-size: 1.4em;
	font-weight: bold;
	margin: 10px 10px 10px 0;
	outline: none;
	padding: 7px;
	text-align: center;
	/* inner shadow */
	-webkit-box-shadow: inset rgba(255, 255, 255, 0.4) 0px 1px 0px;
	-moz-box-shadow: inset rgba(255, 255, 255, 0.4) 0px 1px 0px;
	box-shadow: inset rgba(255, 255, 255, 0.4) 0px 1px 0px;
	/* text shadow */
	-webkit-text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 0px;
	-moz-text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 0px;
	text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 0px;
	/* transition */
	-webkit-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;	
	transition: all 0.1s ease-in;
	/* rounded corners */
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.basic_button:active, a.basic_button:active {
	outline: none;
}

.basic_button[disabled], .basic_button[disabled]:active, .basic_button[disabled]:hover {
	background-color: #a0b5b2;
	border-color: #8da59f;
}

a.basic_button {
	padding: 3px 7px;
	width: 80px;
}

.basic_button:hover, a.basic_button:hover {
	background: #45b6d2;
	text-decoration: none;
}

.published {
	color: #40911d;
}

.pending {
	color: #bd2f2f;
}

/* Headings */
h1 {
	font-size: 2.4em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.6em;
}
/* END DEFAULT STYLES */

/* HEADER */
#frontpage_header, #main_header {
	background: #3076dc url(../img/header_bg_v2.jpg) no-repeat center top;
	border-top: 1px solid white;
	height: 187px;
	margin-top: -1px;
}

#main_header {
    background: none;
    height: 44px;
}

#header_bar {
	background: #4386e7;
	margin-top: 114px;
	/* gradient */
	background-image: -webkit-gradient(
		linear, 0 0, 0 100%,
		from( #1b64cf ),
		to( #4386e7 )
	);
	background-image: -moz-linear-gradient(
		#1b64cf,
		#4386e7
	);
	/* inner shadow */
	-webkit-box-shadow: inset rgba( 255, 255, 255, 0.3 ) 0px 1px 0px;
	-moz-box-shadow: inset rgba( 255, 255, 255, 0.3 ) 0px 1px 0px;
	box-shadow: inset rgba( 255, 255, 255, 0.3 ) 0px 1px 0px;
}

#main_header #header_bar {
    margin: 0;
}

#header_bar_inner {
	height: 44px;
	margin: 0 auto;
	width: 940px;
}

#secondary_bar {
    background: #a8d922;
    border-top: 1px solid #b9e04d;
    border-bottom: 1px solid #9cbd43;
    padding: 3px 0;
}

#secondary_bar_inner {
    font-weight: bold;
    margin: 0 auto;
    width: 940px;
}

#secondary_bar_inner p {
    color: white;
    margin-bottom: 0;
    /* text shadow */
	-webkit-text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px;
	-moz-text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px;
	text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px;
}

/* Site Logo */
#logo {
	float: left;
	padding-top: 10px;
	width: 272px;
}

#logo a {
	background: transparent url(../img/logo_v3.png) no-repeat center;
	display: block;
	height: 25px;
	text-indent: -9999px;
}
/* Login / Register link */
#member_action {
	float: right;
}

#member_action a {
	color: white;
	display: block;
	float: left;
	font-size: 1.4em;
	font-weight: bold;
	padding: 15px 10px;
}

#member_action a:hover {
	text-decoration: underline;
}

#member_action #logout {
	font-weight: normal;
}
/* END HEADER */

/* PAGE CONTAINER */
#container {
	margin: 0 auto;
	width: 940px;
}
/* END PAGE CONTAINER */

/* MAIN COLUMN */
#main_col {
	float: left;
	min-height: 400px;
	width: 700px;
}

#search {
    margin-bottom: 8px;
}

#search input[type=text] {
	border: none;
	border: 1px solid #bebebe;
	color: #aaa;
	font-size: 1.8em;
	padding: 3px 7px;
	/* gradient */
	background-image: -webkit-gradient(
		linear, 0 0, 0 100%,
		from( #eee ),
		to( #ffffff )
	);
	background-image: -moz-linear-gradient(
		#eee,
		#ffffff
	);
	/* inner shadow */
	-webkit-box-shadow: inset rgba( 255, 255, 255, 1 ) 0px 1px 0px;
	-moz-box-shadow: inset rgba( 255, 255, 255, 1) 0px 1px 0px;
	box-shadow: inset rgba( 255, 255, 255, 1 ) 0px 1px 0px;
}

#search input[type=submit] {
	display: none;
}

/* Top Bar */
#top_bar {
	padding: 15px 0;
}

#top_bar h1 {
	color: #444;
	float: left;
	padding-top: 3px;
}

#top_bar #search {
	float: right;
}

/* Hot Topics */
#hot_topics figure a, #current_topic figure a {
	background: white;
	float: left;
	margin-right: 20px;
	padding: 5px;
	width: 64px;
	/* drop shadow */
	-webkit-box-shadow: rgba( 0, 0, 0, 0.3 ) 0px 1px 2px;
	-moz-box-shadow: rgba( 0, 0, 0, 0.3 ) 0px 1px 2px;
	box-shadow: rgba( 0, 0, 0, 0.3 ) 0px 1px 2px;
}

#hot_topics figure a:hover, #current_topic figure a:hover {
	/* drop shadow */
	-webkit-box-shadow: rgba( 0, 0, 0, 0.6 ) 0px 1px 2px;
	-moz-box-shadow: rgba( 0, 0, 0, 0.6 ) 0px 1px 2px;
	box-shadow: rgba( 0, 0, 0, 0.6 ) 0px 1px 2px;
}

#hot_topics h1 {
	font-size: 1.4em;
	line-height: 1.2857em;
}

#hot_topics h1 a {
	color: #444;
}

#hot_topics h1 a:hover {
	color: #328ca2;
}

#hot_topics li {
	background: #eee;
	border: 1px solid #d9d9d9;
	margin-bottom: 15px;
	padding: 5px;
}

#hot_topics article {
	background: white;
     height: 74px;
	padding: 10px;
	position: relative;
}

#hot_topics footer {
	font-size: 1.2em;
	position: absolute;
		bottom: 0;
	width: 672px;
}

#hot_topics footer time, .comment_count {
	float: right;
	padding: 5px 10px;
}

#hot_topics footer time {
	color: #bbb;
}

.comment_count {
	background: url(../img/bubble_sprites.png) no-repeat 5px -24px;
	border-left: 1px solid #e2e2e2;
	font-weight: bold;
	padding-right: 0;
	padding-left: 25px;
}

.comment_count:hover {
	background-position: 5px 0px;
}

#suggest_and_all {
	float: left;
}

#scroll {
	float: right;
}

/* Buttons */
#to_suggest_topic, #to_all_topics, #scroll_up, #scroll_down {
	background-color: #1f7eb5;
	border: 1px solid #1872a5;
	color: white;
	display: block;
	font-size: 1.4em;
	font-weight: bold;
	float: left;
	margin-right: 15px;
	padding: 10px;
	/* rounded corners */
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	/* gradient */
	background-image: -webkit-gradient(
		linear, 0 0, 0 100%,
		from( #37a3d0 ),
		to( #1f7eb5 )
	);
	background-image: -moz-linear-gradient(
		#37a3d0,
		#1f7eb5
	);
	/* inner shadow */
	-webkit-box-shadow: inset rgba( 255, 255, 255, 0.3 ) 0px 1px 0px;
	-moz-box-shadow: inset rgba( 255, 255, 255, 0.3 ) 0px 1px 0px;
	box-shadow: inset rgba( 255, 255, 255, 0.3 ) 0px 1px 0px;
	/* text shadow */
	-webkit-text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px;
	-moz-text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px;
	text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px;
}

#to_suggest_topic:hover, #to_all_topics:hover {
	background-color: #2187c1;
	/* gradient */
	background-image: -webkit-gradient(
		linear, 0 0, 0 100%,
		from( #3db2e2 ),
		to( #2187c1 )
	);
	background-image: -moz-linear-gradient(
		#3db2e2,
		#2187c1
	);
}

#to_suggest_topic span, #to_all_topics span {
	display: block;
	line-height: 16px;
}

#to_suggest_topic span {
	background: url(../img/add_16.png) no-repeat left center;
	padding-left: 20px;
}

#to_all_topics span {
	background: url(../img/arrow_right.png) no-repeat right 4px;
	padding-right: 12px;
}

#scroll_up, #scroll_down {
	background-color: #639a28;
	border: 1px solid #568825;
	/* gradient */
	background-image: -webkit-gradient(
		linear, 0 0, 0 100%,
		from( #55be35 ),
		to( #639a28 )
	);
	background-image: -moz-linear-gradient(
		#55be35,
		#639a28
	);
}


#scroll_down {
	margin: 0;
}

#scroll_up span, #scroll_down span {
	background: url(../img/arrow_up.png) no-repeat center;
	display: block;
	text-indent: -9999px;
	width: 30px;
}

#scroll_down span {
	background: url(../img/arrow_down.png) no-repeat center;
}

#scroll_up:hover, #scroll_down:hover {
	background-color: #6ca72c;
	/* gradient */
	background-image: -webkit-gradient(
		linear, 0 0, 0 100%,
		from( #5ed13b ),
		to( #6ca72c )
	);
	background-image: -moz-linear-gradient(
		#5ed13b,
		#6ca72c
	);
}

/* Published Topics */
#all_topics {
	border: 1px solid #ccc;
	padding: 15px 0;
	/* drop shadow */
	-webkit-box-shadow: rgba( 0, 0, 0, 0.2 ) 1px 2px 5px;
	-moz-box-shadow: rgba( 0, 0, 0, 0.2 ) 1px 2px 5px;
	box-shadow: rgba( 0, 0, 0, 0.2 ) 1px 2px 5px;
    /* border radius */
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#all_topics li {
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
	padding: 0 15px 10px 15px;
	/* gradient */
	background-image: -webkit-gradient(
		linear, 0 0, 0 100%,
		from( #ffffff ),
		to( #f9f9f9 )
	);
	background-image: -moz-linear-gradient(
		#ffffff,
		#f9f9f9
	);
}

#all_topics h1 {
	font-size: 1.4em;
	line-height: 1.2857em;
	margin-right: 140px;
}

#all_topics figure a {
	background: white;
	float: left;
	margin-right: 20px;
	padding: 5px;
	width: 64px;
	/* drop shadow */
	-webkit-box-shadow: rgba( 0, 0, 0, 0.3 ) 0px 1px 2px;
	-moz-box-shadow: rgba( 0, 0, 0, 0.3 ) 0px 1px 2px;
	box-shadow: rgba( 0, 0, 0, 0.3 ) 0px 1px 2px;
}

#all_topics figure a:hover {
	/* drop shadow */
	-webkit-box-shadow: rgba( 0, 0, 0, 0.6 ) 0px 1px 2px;
	-moz-box-shadow: rgba( 0, 0, 0, 0.6 ) 0px 1px 2px;
	box-shadow: rgba( 0, 0, 0, 0.6 ) 0px 1px 2px;
}

#all_topics article:after {
	/* nothing but just clearfix-ing */
	clear: both;
	content: ".";
	display: block;
	line-height: 0;
	visibility: hidden;
}

#all_topics footer, #all_topics footer p {
	float: right;
	font-size: 12px;
	line-height: 1.5em;
	width: 100px;
}

#all_topics footer {
	border-left: 1px solid #ddd;
	padding-left: 20px;
}

#all_topics time {
	color: #999;
}

/* Pagination */
.topic_nav {
	padding: 0 15px;
}

#pagination {
	float: right;
	background: #333;
	padding: 5px 10px 9px;
	/* border radius */
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	/* gradient */
	background-image: -webkit-gradient(
		linear, 0 0, 0 100%,
		from( #535353 ),
		to( #353535 )
	);
	background-image: -moz-linear-gradient(
		#535353,
		#353535
	);

}

#pagination li {
	background: none;
	border: none;
	display: block;
	float: left;
	height: 24px;
	margin: 0 10px 0 0;
	padding: 0;
}

#pagination a {
	color: white;
	font-weight: bold;
	font-size: 1.2em;
}

#pagination a, #pagination strong {
	border: 1px solid rgba(0, 0, 0, 0.3);
	display: block;
	padding: 7px 10px;
	/* border radius */
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	/* white drop shadow */
	-webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1);
	-moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1);
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1);
}

#pagination a:hover {
	/* gradient */
	background-image: -webkit-gradient(
		linear, 0 0, 0 100%,
		from( #565656 ),
		to( #3e3e3e )
	);
	background-image: -moz-linear-gradient(
		#565656,
		#3e3e3e
	);
}

#pagination strong {
	color: white;
	font-size: 1.2em;
	line-height: 1em;
	/* gradient */
	background-image: -webkit-gradient(
		linear, 0 0, 0 100%,
		from( #3e3e3e ),
		to( #565656 )
	);
	background-image: -moz-linear-gradient(
		#3e3e3e,
		#565656
	);
	/* inner shadow */
	-webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.5);
	box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.5);
}

#pagination li:last-child {
	margin: 0;
}
/* END MAIN COLUMN */

/* SECONDARY COLUMN */
#secondary_col {
	float: right;
	padding: 15px 0;
	width: 220px;
}

#secondary_col h1 {
	color: #555;
	font-size: 1.4em;
}

#intro p {
	color: #999;
	margin-bottom: 1em;
}

#big_signup {
	background-color: #8fc400;
	border: 1px solid #82b106;
	color: white;
	display: block;
	font-size: 2.4em;
	font-weight: bold;
	margin-bottom: 15px;
	padding: 15px 0;
	text-align: center;
	/* rounded corners */
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	/* gradient */
	background-image: -webkit-gradient(
		linear, 0 0, 0 100%,
		from( #bfed42 ),
		to( #8fc400 )
	);
	background-image: -moz-linear-gradient(
		#bfed42,
		#8fc400
	);
	/* drop and inner shadow */
	-webkit-box-shadow: rgba( 0, 0, 0, 0.4) 0px 1px 2px, 
					inset rgba( 255, 255, 255, 0.3 ) 0px 1px 0px;
	-moz-box-shadow: rgba( 0, 0, 0, 0.4) 0px 1px 2px, 
					inset rgba( 255, 255, 255, 0.3 ) 0px 1px 0px;
	box-shadow: rgba( 0, 0, 0, 0.4) 0px 1px 2px, 
					inset rgba( 255, 255, 255, 0.3 ) 0px 1px 0px;
	/* text shadow */
	-webkit-text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px;
	-moz-text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px;
	text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px;
}

#big_signup:hover {
	/* gradient */
	background-image: -webkit-gradient(
		linear, 0 0, 0 100%,
		from( #c8f550 ),
		to( #8fc400 )
	);
	background-image: -moz-linear-gradient(
		#c8f550,
		#8fc400
	);
}

#avatars {
	margin-top: 15px;
}

#avatars li {
	float: left;
	margin-right: 7px;
	margin-bottom: 7px;
}

/* Profile Card */
#profile_card {
	padding: 5px;
	/* drop shadow */
	-webkit-box-shadow: rgba( 0, 0, 0, 0.3 ) 2px 2px 10px;
	-moz-box-shadow: rgba( 0, 0, 0, 0.3 ) 2px 2px 10px;
	box-shadow: rgba( 0, 0, 0, 0.3 ) 2px 2px 10px;
	/* gradient */
	background-image: -webkit-gradient(
		linear, 0 0, 0 100%,
		from( #ffffff ),
		to( #fafafa )
	);
	background-image: -moz-linear-gradient(
		#ffffff,
		#fafafa
	);
}

#profile_card_inner {
	border: 1px solid #eee;
	padding: 10px;
}

#profile_card figure {
	margin-bottom: 15px;
	text-align: center;
}

#profile_card img {
	border: 1px solid #ccc;
	padding: 5px;
}

#his_hopes {
	font-size: 1.2em;
}

#his_comment_and_topic {
	color: #999;
}

#his_comment_and_topic strong {
	color: #666;
	font-size: 1.2857em;
}

#his_comment_and_topic a strong {
	color: #328ca2;
}

#his_comment_and_topic a:hover strong {
	color: #333;
}

/* Search */
#secondary_col input {
	width: 204px;
}

/* Category Filter */
#category_filter {
	background: #eee;
	padding: 7px;
}

#category_filter ul {
	background: white;
	border: 1px solid #ccc;
	padding: 8px;
}

#category_filter li {
	border-bottom: 1px solid #eee;
	display: block;
	font-size: 1.4em;
}

#category_filter a {
	display: block;
	padding: 8px;
}

#category_filter .current a {
	border-color: #444;
	color: #444;
	font-weight: bold;
}

/* Latest Comments */
#latest_comments {
	margin-top: 20px;
}

#latest_comments h1 {
	background: url(../img/comment_user_32.png) no-repeat left top;
	font-size: 1.8em;
	margin-bottom: 0.5em;
	padding: 5px 0 9px 40px;
}

#latest_comments li {
	border-bottom: 1px solid #ddd;
	display: block;
	margin-bottom: 5px;
	padding-bottom: 5px;
}

#latest_comments p {
	font-size: 1.2em;
	margin: 0;
}
/* END SECONDARY COLUMN */

/* SINGLE TOPIC */
#one_column {
	margin: 30px auto 0;
    min-height: 400px;
	width: 780px;
}

/* Voter */
#voter {
	color: #999;
	float: left;
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
	width: 60px;
}

#voter strong {
	color: #444;
	display: block;
	font-size: 2.5em;
    margin-bottom: 5px;
}

#vote_up, #vote_down, #vote_up_inactive, #vote_down_inactive {
	background: #4eaf4b;
	border: 1px solid #3dbc3a;
	display: block;
	margin-bottom: 5px;
	padding: 3px 0;
	/* rounded corners */
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	/* gradient */
	background-image: -webkit-gradient(
		linear, 0 0, 0 100%,
		from( #7dbf57 ),
		to( #4eaf4b )
	);
	background-image: -moz-linear-gradient(
		#7dbf57,
		#4eaf4b
	);
	/* inner shadow */
	-webkit-box-shadow: inset rgba( 255, 255, 255, 0.3 ) 0px 1px 0px;
	-moz-box-shadow: inset rgba( 255, 255, 255, 0.3 ) 0px 1px 0px;
	box-shadow: inset rgba( 255, 255, 255, 0.3 ) 0px 1px 0px;
	
}

#vote_down {
	background: #de5352;
	border: 1px solid #dc6f6d;
	/* gradient */
	background-image: -webkit-gradient(
		linear, 0 0, 0 100%,
		from( #fc6252 ),
		to( #de5352 )
	);
	background-image: -moz-linear-gradient(
		#fc6252,
		#de5352
	);
}

#vote_up_inactive, #vote_down_inactive {
	background: #8da59f;
	border: 1px solid #8f9896;
	/* gradient */
	background-image: -webkit-gradient(
		linear, 0 0, 0 100%,
		from( #a0b5b2 ),
		to( #8da59f )
	);
	background-image: -moz-linear-gradient(
		#a0b5b2,
		#8da59f
	);
}

#vote_up span, #vote_down span, #vote_up_inactive span, #vote_down_inactive span {
	background: url(../img/vote_up_arrow_active.png) no-repeat center;
	display: block;
	height: 16px;
	text-indent: -9999px;
}

#vote_down span {
	background: url(../img/vote_down_arrow_active.png) no-repeat center;
}

#vote_up_inactive span {
	background: url(../img/vote_up_arrow_inactive.png) no-repeat center;
}

#vote_down_inactive span {
	background: url(../img/vote_down_arrow_inactive.png) no-repeat center;
}

/* Current Topic */
#current_topic {
	border: 1px solid #ddd;
	float: right;
	margin-bottom: 20px;
	width: 700px;
	/* drop shadow */
	-webkit-box-shadow: rgba( 0, 0, 0, 0.3 ) 0px 1px 1px;
	-moz-box-shadow: rgba( 0, 0, 0, 0.3 ) 0px 1px 1px;
	box-shadow: rgba( 0, 0, 0, 0.3 ) 0px 1px 1px;
    /* rounded corners */
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
    /* gradient */
	background-image: -webkit-gradient(
		linear, 0 0, 0 100%,
		from( #fff ),
		to( #fafafa )
	);
	background-image: -moz-linear-gradient(
		#fff,
		#fafafa
	);
}

#current_topic article {
	padding: 15px;
}

#current_topic h1 {
	color: #444;
	font-size: 2.1em;
	line-height: 1.3em;
}

#current_topic footer {
	margin-top: 15px;
}

#current_topic time {
	color: #bbb;
	font-size: 1.4em;
}

.twitter-share-button {
	margin-top: 10px;
}

/* Comment */
#responds {
    color: #444;
    font-size: 2.4em;
}

#comment_list {
	list-style: none;
}

#comment_list li {
	background: #eee;
	margin: 15px 0;
	padding: 5px;
}

#comment_list article {
	background: white;
	border: 1px solid #ccc;
	padding: 15px;
}

/* clearfixing */
#comment_list article:after {
	clear: both;
	content: ".";
	display: block;
	line-height: 0;
	visibility: hidden;
}

.commenter_info {
	float: left;
	width: 120px;
}

.commenter_info img {
	border: 1px solid #eee;
	padding: 3px;
}

.commenter_info time {
	color: #bbb;
	font-size: 1.3em;
	line-height: 1.5em;
}

.smiley {
	float: right;
	margin: 0 0 10px 10px;
}

.comment_content {
	border-left: 1px solid #eee;
	margin: 0 74px 0 130px;
	padding-left: 20px;
}

#comment_list .comment_content p.commenter_name {
	border-bottom: 1px solid #ddd;
	font-family: Arial;
	font-size: 1.2em;
	padding-bottom: 10px;
}

#comment_list article p {
	font-family: Verdana;
	font-size: 1.3em;
}

/* Child Comments */
.comment_action { 
	padding: 7px 0 3px 167px; 
}

.add_comment {	
	background: url(../img/bubble_sprites.png) no-repeat 0px -4px;
	display: block; 
	font-size: 1.2em;
	height: 14px;
	padding: 2px 0 0 20px;
	width: 100px;
}

.reply, .replies {
	margin-top: 7px;
}

#comment_list li:hover .add_comment { 
	visibility: visible; 
}

#comment_list li:hover {
	background: #e9e9e9;
}

#comment_list li:hover article { 
	border-color: #a9a9a9; 
}

#comment_list .replies li { 
	margin: 5px 0; padding: 0; 
}

#comment_list .replies li article, #comment_list .replies li:hover article { 
	border-color: #ccc; 
}

#comment_list .replies footer { 
	color: #999; 
	font-size: 1.2em; 
}

#no_comments {
	margin: 1em 0;
}

#one_column label {
	color: #888;
	display: block;
	font-size: 1.4em;
	font-weight: bold;
	line-height: 1.5em;
	margin: 15px 0 5px;
}

#response, #category {
	border: 1px solid #ccc;
	font-family: Arial;
	font-weight: bold;
	margin-bottom: 15px;
	outline: none;
	padding: 10px;
}

#response {
	color: #444;
	font-size: 1.8em;
}

#comment, #content, .reply textarea {
	border: 1px solid #ccc;
	font-family: Verdana;
	font-size: 1.2em;
	line-height: 1.5em;
	padding: 10px;
}

#comment, .reply textarea {
    /* gradient */
	background-image: -webkit-gradient(
		linear, 0 0, 0 100%,
		from( #fafafa ),
		to( #ffffff )
	);
	background-image: -moz-linear-gradient(
		#fafafa,
		#ffffff
	);
	/* inner shadow */
	-webkit-box-shadow: inset rgba( 255, 255, 255, 0.8 ) 0px 2px 0px;
	-moz-box-shadow: inset rgba( 255, 255, 255, 0.8 ) 0px 2px 0px;
	box-shadow: inset rgba( 255, 255, 255, 0.8 ) 0px 2px 0px;
}

#comment:focus, #response:focus, #content:focus, #category:focus, .reply textarea:focus {
	outline: none;
	/* drop shadow */
	-webkit-box-shadow: rgba( 0, 0, 0, 0.4 ) 0px 0px 8px;
	-moz-box-shadow: rgba( 0, 0, 0, 0.4 ) 0px 0px 8px;
	box-shadow: rgba( 0, 0, 0, 0.4 ) 0px 0px 8px;
}
/* END SINGLE TOPIC */

/* CREATE TOPIC */
input[type=file] {
	border: 1px solid #ddd;
	padding: 10px;
}

#content {
	/* gradient */
	background-image: -webkit-gradient(
		linear, 0 0, 0 100%,
		from( #fafafa ),
		to( #ffffff )
	);
	background-image: -moz-linear-gradient(
		#fafafa,
		#ffffff
	);
	/* inner shadow */
	-webkit-box-shadow: inset rgba( 255, 255, 255, 0.8 ) 0px 2px 0px;
	-moz-box-shadow: inset rgba( 255, 255, 255, 0.8 ) 0px 2px 0px;
	box-shadow: inset rgba( 255, 255, 255, 0.8 ) 0px 2px 0px;
}
/* END CREATE TOPIC */

/* MEMBER PROFILE */
#member {
	background: #efefef;
	margin-top: 20px;
	padding: 15px;
	/* rounded corners */
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	/* gradient */
	background-image: -webkit-gradient(
		linear, 0 0, 0 100%,
		from( #efefef ),
		to( #fff )
	);
	background-image: -moz-linear-gradient(
		#efefef,
		#fff
	);
}

#avatar_and_actions {
	float: left;
	width: 160px;
}

#member_info {
	float: right;
	width: 490px;
}

#avatar_and_actions_inner, #member_info_inner {
	background: white;
	border: 1px solid #ddd;
	padding: 15px;
	/* rounded corners */
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#member_info_inner {
	min-height: 300px;
}

#avatar_and_actions figure {
	margin-bottom: 15px;
}

#avatar_and_actions p {
	font-size: 1.2em;
	line-height: 1.8em;
}

#avatar_and_actions_inner #to_all_topics {
	margin: 0;
}

#member_info h1 {
	border-bottom: 1px solid #d9d9d9;
	margin-bottom: 0.5em;
	padding-bottom: 0.5em
}

#member_info h2 {
	color: #444;
	margin-bottom: 0.25em;
}

#how_many {
	background: #f3f3f3;
	border: 1px solid #d9d9d9;
	color: #999;
	font-size: 1.4em;
	font-weight: bold;
	line-height: 1em;
	padding: 0 8px 8px;
	
	width: 120px;
}

#how_many strong {
	color: #666;
	display: block;
	font-size: 1.5em;
	line-height: 1em;
	padding-top: 8px;
}

#how_many a strong {
	color: #328ca2;
}

#how_many a:hover strong {
	color: #333;
}

#edit_actions {
	border: 1px solid #eee;
	padding: 10px;
}

#edit_actions a {
	display: block;
	float: left;
	font-size: 1.2em;
	line-height: 1.5em;
	margin-right: 15px;
}

#facebook, #twitter {
	display: block;
	padding: 3px 0 3px 20px;
}

#facebook {
	background: url(../img/facebook_icon.png) no-repeat left center;
}

#twitter {
	background: url(../img/twitter_icon.png) no-repeat left center;
}

/* Latest Activities */
#latest_activity {
	margin-top: 5px;
}
		
#latest_activity h1 {
	background: url(../img/newspaper_info_32.png) no-repeat left top;
	font-size: 1.8em;
	margin-bottom: 0.5em;
	padding: 7px 0 7px 40px;
}

#latest_activity ul {
	margin-bottom: 10px;
}
		
#latest_activity li {
	border-bottom: 1px solid #d9d9d9;
	padding: 5px 0;
}

#latest_activity p {
	font-size: 1.2em;
	margin: 0;
}

#latest_activity time {
	color: #999;
}

#main_col #latest_activity {
	padding: 15px 0;
}

#main_col #latest_activity h1 {
	font-size: 2.4em;
}

#main_col #latest_activity ul {
	margin-top: 10px;
}
/* END MEMBER PROFILE */

/* FORMS */
#narrow_column {
	margin: 20px auto 0;
	width: 540px;
}

.mainInfo {
	border: 1px solid #ccc;
	/* rounded corners */
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	/* drop shadow */
	-webkit-box-shadow: rgba( 0, 0, 0, 0.1 ) 3px 5px 3px;
	-moz-box-shadow: rgba( 0, 0, 0, 0.1 ) 3px 5px 3px;
	box-shadow: rgba( 0, 0, 0, 0.1 ) 3px 5px 3px;
}

#infoMessage {
	padding: 0 15px;
}

#form_header {
	background: #eee;
	border-bottom: 1px solid #ccc;
	margin-bottom: 15px;
	padding: 15px;
	/* gradient */
	background-image: -webkit-gradient(
		linear, 0 0, 0 100%,
		from( #fafafa ),
		to( #eee )
	);
	background-image: -moz-linear-gradient(
		#fafafa,
		#eee
	);
}

#form_header h1, #form_header p {
	color: #999;
	/* text shadow */
	-webkit-text-shadow: rgba(255, 255, 255, 1) 1px 1px 1px;
	-moz-text-shadow: rgba(255, 255, 255, 1) 1px 1px 1px;
	text-shadow: rgba(255, 255, 255, 1) 1px 1px 1px;
	
}

#form_header p {
	margin: 0.3em 0 0;
}

.form_field {
	padding: 10px;
}

.form_field:after {
	clear: both;
	content: ".";
	display: block;
	line-height: 0;
	visibility: hidden;
}

.form_field label {
	color: #444;
	display: block;
	float: left;
	font-size: 1.4em;
	line-height: 1.5em;
	font-weight: bold;
	margin-right: 10px;
	padding-top: 8px;
	text-align: right;
	width: 150px;
}

.form_field input[type=text], .form_field input[type=password] {
	border: 1px solid #ccc;
	border-left: 5px solid #ccc;
	color: #555;
	font-size: 1.8em;
	padding: 5px;
	width: 250px;
}

.form_field input[type=text]:focus, .form_field input[type=password]:focus {
	border-color: #51baee;
} 

.form_field input[type=checkbox] {
	margin-top: 12px;
}

.form_field input[type=submit] {
	margin-left: 160px;
}

.form_field textarea {
	border: 1px solid #ccc;
	font-family: Verdana;
	font-size: 1.2em;
	line-height: 1.5em;
	padding: 10px;
}

.form_field textarea:focus {
	outline: none;
	/* drop shadow */
	-webkit-box-shadow: rgba( 0, 0, 0, 0.4 ) 0px 0px 8px;
	-moz-box-shadow: rgba( 0, 0, 0, 0.4 ) 0px 0px 8px;
	box-shadow: rgba( 0, 0, 0, 0.4 ) 0px 0px 8px;
}

/* exceptions for login form */
.login .form_field label {
	width: 130px;
}

.login .form_field input[type=submit] {
	margin-left: 140px;
}

.login .form_field p {
	font-size: 1.2em;
	margin: 0;
	padding: 8px 0 0 140px;
}

#form_footer {
	border-top: 1px solid #ccc;
	padding: 15px;
}

#update_avatar {
	padding: 20px 0 0;
}

#update_avatar figure {
	background: white;
	float: left;
	margin: 0 15px 15px 15px;
	padding: 5px;
	/* drop shadow */
	-webkit-box-shadow: rgba( 0, 0, 0, 0.3 ) 0px 1px 2px;
	-moz-box-shadow: rgba( 0, 0, 0, 0.3 ) 0px 1px 2px;
	box-shadow: rgba( 0, 0, 0, 0.3 ) 0px 1px 2px;
}

#update_avatar form {
	float: right;
	width: 370px;
}

#update_avatar p {
	font-size: 1.2em;
	line-height: 1.5em;
	margin: 1em;
}
/* END FORMS */

/* FOOTER */
#main_footer {
	background: #363636;
	color: white;
	font-size: 1.2em;
	height: 150px;
	line-height: 1.5em;
	margin-top: 30px;
	padding: 30px 30px 0;
}

#main_footer_inner {
	margin: 0 auto;
	width: 940px;
}

#main_footer #main_footer_inner p {
	color: white;
	font-size: 1.2em;
}

#main_footer a {
	color: #999;
}

#main_footer a:hover {
	color: white;
	text-decoration: none;
}

#copyright, #main_footer nav, #social_media {
	display: block;
	float: left;
	list-style: none;
	margin: 0 100px 0 0;
}
/* END FOOTER */